<app-dashboard-nav>
 <div class="container">
  <div id="card">

    <div class="card-header bg-info"> <div fxFlex><h4 class="card-title text-white">Patient dashboard</h4></div> <button mat-raised-button *ngIf=" newPatient || edit "  (click)="onSubmit(patientForm.value)" >Submit</button></div>

  <div class="card-body ">


    <span *ngIf="isAdmin !== false" class="float-right"> <button *ngIf="!edit" mat-mini-fab class="float-right mt-0 ml-2" (click)="register()"> <i class="fa fa-plus"></i> </button> </span><button mat-mini-fab class="float-right mt-0 ml-2" (click)="refreshPage()" ><i class="fa fa-users"></i></button>

          <table class="table">
              <tbody *ngIf="!viewPatient && !edit">
                <tr *ngFor="let patient of patients">
                  <td>
               <img  width="75" class="img-fluid img-thumbnail"  src="{{patient.Avatar}}"  alt="Avatar" >  {{patient.Title}} {{patient.FirstName}} {{patient.LastName}}

                  </td>
                  <td><span class="small-font float-right mt-4"> <button mat-button class="bg-primary ml-5 text-white" (click)="callPatient(patient, patient.DoctorId)" ><i class="fa fa-info text-white"></i> Info</button> <button  mat-button *ngIf="isAdmin === 'true'" class="bg-success ml-5 text-white" (click)="editPatient(patient)" ><i class="fa fa-edit text-white" ></i> Edit</button> <button *ngIf="isAdmin === 'true'" mat-button class="bg-danger ml-5 text-white" (click)="removePatient(patient)"><i class="fa fa-trash text-white"></i> Delete</button></span></td>
                </tr>
              </tbody>
              <tbody *ngIf="pdetails" class="small-font">
                  <tr >
                      <th colspan="11" class="text-center">Patient Information</th>
                      </tr>
                <tr>
                    <th>Avatar</th>
                  <th>Title</th>
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>Age</th>
                  <th>Status</th>
                  <th>Sex</th>
                  <th>Number</th>
                  <th>Email</th>
                  <th>Condition</th>
                  <th>Doctor</th>
                </tr>
                <tr>
                  <td>
                    <img  width="75" class="img-fluid img-thumbnail"  src="{{pdetails.Avatar}}"  alt="Avatar" >

                  </td>
                  <td>{{pdetails.Title}}</td>
                  <td>{{pdetails.FirstName}}</td>
                  <td>{{pdetails.LastName}}</td>
                  <td>{{pdetails.Age}}</td>
                  <td>{{pdetails.MaritalStatus}}</td>
                  <td>{{pdetails.Sex}}</td>
                  <td>{{pdetails.PhoneNumber}}</td>
                  <td>{{pdetails.Email}}</td>
                  <td>{{pdetails.PatientState}}</td>

                  <td *ngIf="staff" >{{staff.Title}} {{staff.FirstName}} {{staff.LastName}}</td>
                </tr>
                <tr class="small-font" >
                <th colspan="11" class="text-center">Patient Parent Information</th>
                </tr>
                <tr class="small-font">
                  <th colspan="3">Name</th>
                  <th colspan="2">Phone Number</th>
                  <th colspan="2">Eamil</th>
                  <th colspan="4">Address</th>
                </tr>
                <tr *ngFor="let parent of pdetails.Parents" >
                  <td colspan="3">{{parent.PName}}</td>
                  <td colspan="2">{{parent.PPhoneNumber}}</td>
                  <td colspan="2">{{parent.PEmail}}</td>
                  <td colspan="4">{{parent.PAddress}}</td>
                </tr>
              </tbody>
            </table>





<form class="form" [formGroup]= "patientForm" *ngIf="newPatient || edit" >

      <div class="text-content-center text-center">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Title</mat-label>
         <mat-select   formControlName="Title">
           <mat-option *ngFor="let item of titles"  [value]="item.title">
             {{item.title}}
           </mat-option>
         </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input type="text" formControlName="FirstName" matInput>
          </mat-form-field>

          <mat-form-field>
              <mat-label>Last Name </mat-label>
              <input type="text" formControlName="LastName" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input type="text" formControlName="PhoneNumber" matInput>
              </mat-form-field>
      </div>
<div class="form-group">
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input type="text" formControlName="Age" matInput>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Sex</mat-label>
          <mat-select formControlName="Sex">
            <mat-option value="Male">Male</mat-option>
            <mat-option value= "Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="MaritalStatus">
                <mat-option value="Married">Married</mat-option>
                <mat-option value= "Single">Single</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" formControlName="Email" matInput>
            </mat-form-field>
</div>

<div class="form-group">
    <mat-form-field>
        <mat-label>Doctor</mat-label>
       <mat-select   formControlName="DoctorId">
         <mat-option *ngFor="let staff of staffs"  [value]="staff._id">
          {{staff.Title}} {{staff.FirstName}} {{staff.LastName}}
         </mat-option>
       </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Patient State</mat-label>
          <mat-select formControlName="PatientState">
              <mat-option value="Good">Good</mat-option>
              <mat-option value= "Bad">Bad</mat-option>
              <mat-option value= "Very Bad">Very Bad</mat-option>
              <mat-option value= "Critical">Critical</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input type="text" formControlName="Address" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" formControlName="Password" matInput>
          </mat-form-field>
          <input #filePicker hidden type="file" (change)="pickPix($event)"  class="form-contentmt-12 mx-auto, md-block">
          <img  width="100" class="small-font" [src]="patientForm.value.Avatar" class="img-responsive img-circle pointer"  alt="Avatar" (click)="filePicker.click()">
          <br/>
          <span *ngIf="!patientForm.value.Avatar"  class="error small-font">{{fileErrorMessage}}</span>
          <input type="hidden" formControlName="_id">

        </div>
          <div class="card">
            <div class="card-header"> <div fxFlex>Add Parent/ Guidian</div> <button *ngIf="isAdmin === 'true'"  mat-mini-fab (click)="addParents()" ><i class="fa fa-plus"></i></button></div>
            <div class="card-body" formArrayName="Parents">
              <div class="card-content text-content-justify" *ngFor="let parent of patientForm.get('Parents')['controls']; index as i" >

                 <div class="row">
                   <table>
                     <tbody>
                        <tr class="" [formGroupName]="i">
                            <td>
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Parent Name</mat-label>
                                        <input type="text" formControlName="PName" matInput>
                                      </mat-form-field>
                                      <mat-form-field>
                                          <mat-label>Address</mat-label>
                                          <input type="text" formControlName="PAddress" matInput>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Phone Number</mat-label>
                                            <input type="text" formControlName="PPhoneNumber" matInput>
                                          </mat-form-field>

                                          <mat-form-field>
                                              <mat-label>Email</mat-label>
                                              <input type="email" formControlName="PEmail" matInput>
                                            </mat-form-field>
                                </div>
                            </td>
                            <td>
                               <button class="float-right" mat-button (click)="removeParent(i)"><i class="fa fa-trash"></i></button>

                            </td>
                          </tr>
                     </tbody>

                   </table>


                   </div>



                </div>
              </div>
            </div>
          </div>

</form>
  </div>

</div>
 </div>
</app-dashboard-nav>
