/* You can add global styles to this file, and also import other style files */
/* @import "/node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .card-class{
  height: 50vh;
} */

.fa-trash{
 font-size: 15px;
 color: rgb(219, 63, 63);
}



#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(44, 44, 44, 0.65);
  margin: 1rem auto 8.1rem auto;

}

#submit-btn {
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border: none;
  border-radius: 21px;
  /* box-shadow: 0px 1px 8px #24c64f; */
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 45.3px;
  transition: 0.25s;
width: 150px;
  box-shadow: 0px 11px 22px 0px rgba(0, 0, 0, 0.2);

}
#view-btn {
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border: none;
  border-radius: 10px;
  /* box-shadow: 0px 1px 8px #24c64f; */
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 30.3px;
  transition: 0.25s;
width: 70px;
  box-shadow: 0px 11px 22px 0px rgba(0, 0, 0, 0.2);

}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #dbdfdc;
}


#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  font-size: 0.1em;
  text-align: left;
}

.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  width: 315px;
}
.underline-title2 {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  width: 180px;
}
.underline-title3 {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  width: 285px;
}


.form {
  align-items: left;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  width: 100%;
  padding-top: 8px;
  font-size: 0.8em;
}

 .mat-grid-tile {
   margin: 2px;
 }

 .mat-form-field-underline {
   /*change color of underline*/
   background: -webkit-linear-gradient(right, #a6f77b, #2ec06f) !important;

 }

 .is-invalid {
   background-color: red;
   border: 1px solid;
   border-color: red;
 }
 .mat-form-field-input {
   /*change color of underline*/
   width: 100%;
   background: -webkit-linear-gradient(right, #a6f77b, #2ec06f) !important;

 }

 .mat-form-field:not(.mat-form-field-should-float) .mat-input-placeholder {
  padding: 10px;
  font-size: 5px;
  box-sizing: border-box;
}

 .mat-form-field .placeholder {
      font-size: 0.2em;
}
 .mat-form-field .input {
     width: 100%;
    font-size: 0.10em;

}
.mat-form-field-ripple {
   /*change color of underline when focused*/
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f) !important;;
 }


/* .ng-select.custom ::ng-deep .ng-select-container  {
    min-height: 80px;
    border-radius: 15px;
    border-color: #2ec06f;
} */

.form-check-label {
  font-size: 0.9em;
}
.flex-container{
   flex: 1 1 auto;
   align-items: flex-start;
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}

.pull-right{
  margin-left: auto;
}





.scale-up-center {
	-webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-31 15:2:14
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
